.toolbar-wrapper {
  max-width: 600px;
  padding: 30px;
  box-shadow: 0px 0px 5px 1px #c6c7c8;
}
footer.footer {
  background-color: #212529;
  padding: 1.5rem;
  text-align: center;
  color: #ffffff;
}
