div#root {
  background-color: #fee8ff;
}
.toolbar-wrapper {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 1px #c6c7c8;
  background-color: #fff;
}
.toolbar-wrapper form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dfdfdf;
}
header.header {
  background-color: #27296d;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
}
footer.footer {
  background-color: #5e63b6;
  padding: 1.5rem;
  text-align: center;
  color: #ffffff;
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255 255 255 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
